---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28580?apikey=Ownj7JkLZ95awyaA0GeMfA4t1g0lQbMe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '8'
      Akamai-Grn:
      - 0.3e962e17.1725283797.3983002
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-09-02T16:17:00+03:00","EpochTime":1725283020,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":27.5,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us","Link":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us"}]'
  recorded_at: Mon, 02 Sep 2024 13:29:57 GMT
recorded_with: VCR 6.3.1
